__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

.ipynb_checkpoints/

.pytest_cache/
.coverage
htmlcov/
.tox/

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini


*.log
logs/

*.tmp
*.temp
*.bak

*.db
*.sqlite
*.sqlite3

build/
dist/
*.egg-info/

*.pem
*.key
credentials.json
service-account.json